:root {
    --font-main:#212121;
    --font-second:#FFFFFF;
    --font-thir: #FFFFFF99;
    --main-bg:#2F303A;
    --button-bg:#2196F3;
    --team-bg:#F5F4FA;
    --main-text:#757575;
}

body {
    font-family: "Roboto", serif;
}

.web {
    color: #2196F3;
}
.studio {
    color: #000000;
}
.studio-second {
    color: var(--font-second);
}
.logo {
    font-family: "Raleway", serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.385;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
}

.header-item {
    color: var(--font-main);
font-size: 14px;
font-weight: 500;
line-height: 1.172;
letter-spacing: 0.02em;
text-transform: none;
}

.contact-item {
    color: var(--main-text);
font-size: 14px;
font-weight: 500;
line-height: 1.172;
letter-spacing: 0.02em;
}

.hero {
    background: var(--main-bg);
}
.hero-title {
color: var(--font-second);
font-size: 44px;
font-weight: 900;
line-height: 1.364;
letter-spacing: 0.06em;
text-align: center;
}
.hero-button {
    background: var(--button-bg);
    color: var(--font-second);
font-size: 16px;
font-weight: 700;
line-height: 1.875;
letter-spacing: 0.06em;
}
.features-title {
    color: var(--font-main);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.172;
    letter-spacing: 0.03em;
}
.features-text {
    color: var(--main-text);
font-size: 14px;
font-weight: 400;
line-height: 1.714;
letter-spacing: 0.03em;
}
.service-title {
    color: var(--font-main);
font-size: 36px;
font-weight: 700;
line-height: 1.172;
letter-spacing: 0.03em;
text-align: center;
}
.team {
    background: var(--team-bg);
}
.team-title {
    color: var(--font-main);
font-size: 36px;
font-weight: 700;
line-height: 1.172;
letter-spacing: 0.03em;
text-align: center;
}
.team-name {
    color: var(--font-main);
font-size: 16px;
font-weight: 500;
line-height: 1.172;
letter-spacing: 0.03em;
}
.team-role {
    color: var(--main-text);
font-size: 16px;
font-weight: 400;
line-height: 1.172;
letter-spacing: 0.03em;
}
.footer {
    background: var(--main-bg);
}
.footer-item {
color: var(--font-thir);
font-size: 14px;
font-weight: 400;
line-height: 1.714;
letter-spacing: 0.03em;
text-align: left;
}
.footer-adrees {
    color: var(--font-second);
font-size: 14px;
font-weight: 400;
line-height: 1.714;
letter-spacing: 0.03em;
text-align: left;
}